<!DOCTYPE html>
{% load mptt_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
</head>
<body>
<h2>Меню выбора категорий каталога</h2>
<ul>
    {% recursetree categories %}
        {% if node.active %}

            <li>
                <a href="#">{{ node.name }}</a>
                {% if node.icon %}
                    <img style="width: 20px; height: 20px;" src="{{ MEDIA_URL }}{{ node.icon.url }} "
                         alt=" a photo "/>
                {% endif %}
                {% if not node.is_leaf_node %}

                    <ul>
                        {{ children }}
                    </ul>

                {% endif %}
            </li>

        {% endif %}
    {% endrecursetree %}
</ul>

</body>
</html>