{% extends 'product/base.html' %}
{% load i18n %}


{% block content %}
    <h2>{% trans "Название товара" %}: {{ goods.name }}</h2>
    <p>{% trans "Продукт" %}: {{ goods.product }}</p>
    <p>{% trans "Продавец" %}: {{ goods.seller }}</p>
    <p>{% trans "Логотип товара" %} <img src={{ goods.image }} width="500"></p>
    <p>{% trans "Описание" %}: {{ goods.description }}</p>
    <p>{% trans "Цена" %}: {{ goods.price.price }}</p>
    {% block goods_sellers %}
        <h2>Продавцы у которых доступен данный товар</h2>
        {% for offer in goods_sellers %}
            <p><a href="/shop/seller/{{ offer.seller.id }}">Продавец {{ offer.seller }}</a></p>
        {% endfor %}
    {% endblock %}
    <hr>
{% endblock %}