{% load i18n %}
{% load static %}


<div class="Section-content">
  <header class="Section-header">
    <h2 class="Section-title">
      Популярные товары
    </h2>
  </header>
  <div class="Cards">
    {% for item in popular %}
      <div class="Card">
        <a class="Card-picture" href="{% url 'product-detail' item.id %}">
          <img src="/media/{{ item.images__image }}" alt="card.jpg"/>
        </a>
        <div class="Card-content">
          <strong class="Card-title">
            <a href="{% url 'product-detail' item.id %}">
              {{ item.name|slice:":40" }}
            </a>
          </strong>
          <div class="Card-description">
            <div class="Card-cost">
{#            <span class="Card-priceOld">$115.00</span>#}
{#            <span class="Card-price">$85.00</span>#}
              <span class="Card-price">{{ item.avg_price|floatformat:2 }} ₽</span>
            </div>
            <div class="Card-category">
              {{ item.category__name }}
            </div>
            <div class="Card-hover">
              <a class="Card-btn" href="#">
               <img src="assets/img/icons/card/cart.svg" alt="cart.svg"/>
              </a>
              <a class="Card-btn" href="compare.html">
                <img src="assets/img/icons/card/change.svg" alt="change.svg"/>
              </a>
            </div>
          </div>
        </div>
{#      <div class="Card-sale">-60%</div>#}
      </div>
    {% empty %}
      Популярные товары не найдены
    {% endfor %}
  </div>
</div>
