{% if request.session.comparison %}
    {% for item in request.session.comparison %}
        {% if item.id == id|stringformat:'i' and item.type == type %}
            <form action="{% url 'comparison:remove' id=id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="type" value="{{ type }}">
                <input type="hidden" name="url_from" value="{{ request.path }}">
                <button type="submit">Удалить из сравнения</button>
            </form>
{% endif %}
{% endfor %}
{% endif %}